QuanLiCaPhe/Connected Services/CTXuatService/CTXuatService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51914/CTXuatService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DTO_QLCP" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDSXuatNL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maPX" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDSXuatNLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDSXuatNLResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSCTPX">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DSCTPXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSCTPXResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapx" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaNL">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaNLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMaNLResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTenNL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maNL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTenNLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTenNLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDVTNL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maNL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDVTNLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDVTNLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kiemTraXuatNL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maPX" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kiemTraXuatNLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kiemTraXuatNLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kiemTraTonTai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maPX" type="xs:int" />
        <xs:element minOccurs="0" name="maNL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kiemTraTonTaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kiemTraTonTaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="laySLCon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maNL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="laySLConResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="laySLConResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemCTXuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO_QLCP" minOccurs="0" name="ct" nillable="true" type="q1:CTXuatNL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemCTXuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemCTXuatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaCTXuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO_QLCP" minOccurs="0" name="ct" nillable="true" type="q2:CTXuatNL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaCTXuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaCTXuatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaCTXuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTO_QLCP" minOccurs="0" name="ct" nillable="true" type="q3:CTXuatNL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaCTXuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaCTXuatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>