QuanLiCaPhe/Connected Services/NXNguyenLieuService/NXNguyenLieuService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO_QLCP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO_QLCP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NXNguyenLieu">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaNV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaPhieuNhap" type="xs:int" />
      <xs:element minOccurs="0" name="MaPhieuXuat" type="xs:int" />
      <xs:element minOccurs="0" name="NgayNhap" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NgayXuat" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TongTien" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NXNguyenLieu" nillable="true" type="tns:NXNguyenLieu" />
</xs:schema>