QuanLiCaPhe/Connected Services/CTNhapService/CTNhapService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO_QLCP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO_QLCP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CTNhapNL">
    <xs:sequence>
      <xs:element minOccurs="0" name="DonGia" type="xs:float" />
      <xs:element minOccurs="0" name="DonViTinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaNL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaPhieuNhap" type="xs:int" />
      <xs:element minOccurs="0" name="SoLuong" type="xs:int" />
      <xs:element minOccurs="0" name="TenNL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThanhTien" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTNhapNL" nillable="true" type="tns:CTNhapNL" />
</xs:schema>